@use "Title/title";
@use "Item/item";
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.food-diary-accordion {
  background: var(--tg-theme-bg-color, $layer-01);
  color: var(--tg-theme-text-color, $text-primary);
  fill: var(--tg-theme-text-color, $text-primary);
}

.food-diary-accordion:before {
  background: var(--tg-theme-bg-color, $layer-01);
}
