@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.food-diary-acc-item-info {
  padding-right: $spacing-04;
}

.food-diary-acc-item-container {
  margin-bottom: $spacing-03;
  background: var(--tg-theme-secondary-bg-color, $layer-02);
}

.food-diary-acc-item-row {
  padding-bottom: $spacing-03;
  padding-left: $spacing-04;
}
