@use "@carbon/react";
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;

html {
  width: 100%;
  height: 100%;
}

body {
  background: var(--tg-theme-secondary-bg-color, $background);
  color: var(--tg-theme-text-color, $text-primary);
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.cds--list-box input[role="combobox"],
.cds--list-box input[type="text"] {
  background: var(--tg-theme-bg-color, $layer-01);
  color: var(--tg-theme-text-color, $text-primary);
}

.cds--list-box__menu-item {
  background: var(--tg-theme-bg-color, $layer-01);
}

.cds--accordion__arrow {
  fill: var(--tg-theme-text-color, $text-primary);
}

.cds--accordion__item--active .cds--accordion__arrow {
  fill: var(--tg-theme-text-color, $text-primary);
}

.cds--accordion__heading:hover::before {
  background: var(--tg-theme-bg-color, $layer-01);
}

.cds--cc--chart-wrapper text {
  fill: var(--tg-theme-text-color, $text-primary);
}

.cds--cc--chart-wrapper p {
  color: var(--tg-theme-text-color, $text-primary);
}

.cds--cc--title p.title {
  color: var(--tg-theme-text-color, $text-primary);
}

.flatpickr-calendar.animate.open {
  background: var(--tg-theme-secondary-bg-color, $background);
  color: var(--tg-theme-text-color, $text-primary);
}

.numInputWrapper .numInput {
  background: var(--tg-theme-secondary-bg-color, $background);
  color: var(--tg-theme-text-color, $text-primary);
}

.cds--label {
  color: var(--tg-theme-text-color, $text-primary);
}

.flatpickr-day {
  color: var(--tg-theme-text-color, $text-primary);
}

.flatpickr-prev-month,
.flatpickr-next-month {
  fill: var(--tg-theme-text-color, $text-primary);
}

.flatpickr-month {
  color: var(--tg-theme-text-color, $text-primary);
}

.flatpickr-weekday {
  color: var(--tg-theme-text-color, $text-primary);
}
